<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=devicewidth, initial-scale=1.0">
        <title>Home</title>
    </head>


<body>
    <h1>Flask app to upload video and detect objects</h1>
    <h2>Please apload a video of reasonable size</h2>

    <form action="/" method="POST" enctype="multipart/form-data">
        <input type = "file" name = "upload" />
        <input type="submit" value="Submit">
     </form>
</body>

</html>